<div class="row">
    <div class="col-10">
        <h1 class="text-info">You've reached the end of the internet</h1>
        <hr/>
        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Bach to Homepage</a>
    </div>
</div>