<div class="row">
    <div class="col-10">
        <h1 class="text-info">Trang bạn tìm không tồn tại!</h1>
        <hr/>
        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Trở về trang chủ</a>
    </div>
</div>