@model Category

@{
    ViewData["Title"] = "Category Delete";
}

<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <h2>Category Delete</h2>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-right"/>
                    </form>
                    <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>