<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Bạn không có quyền truy cập</h2>
        <hr />
        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info">Trở về trang chủ</a>
        </p>
    </div>
</div>