<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Bạn đã đăng ký thành công!</h2>
        <p>Bạn đã có thể đăng nhập</p>
        <hr/>
        <p>Cảm ơn!</p>
    </div>
</div>